@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

.App {
  text-align: center;
  padding: 3%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.header {
  color: rgb(88, 89, 89);
  text-transform: uppercase;
}

.country-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  background-color: rgba(128, 128, 128, 0.13);
  box-shadow: 12px 12px rgb(125, 126, 126);
  padding: 15px;
  margin: 20px;
}

.title {
  font-size: 35px;
  text-transform: uppercase;
}
.flag {
  padding: 30px;
}
.content {
  width: 60%;
  text-align: left;
  padding-left: 20%;
}

.content p {
  margin-bottom: 0;
  margin-top: 0;
}

.borders,
.language {
  list-style: none;
}

.border-div ul {
  padding-left: 0;
}
