.App {
  text-align: center;
}

.country-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.country-card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.flag {
  size: 50px;
}

.country-name {
  font-size: 25px;
}

.borders,
.language {
  list-style: none;
}
