.App {
  text-align: center;
  background-color: rgb(209, 208, 211);
  padding: 3%;
  height: 100vh;
}

.header {
  color: rgb(88, 89, 89);
}

.country-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.country-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  margin: 10px;
}

.flag {
  margin: 3%;
}

.country-name {
  font-size: 25px;
  color: rgb(145, 143, 143);
}

.borders,
.language {
  list-style: none;
}
